/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #74059cd1;
  --ifm-color-primary-dark: #f418b2;
  --ifm-color-primary-darker: #f81dda;
  --ifm-color-primary-darkest: #5a093b79;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2ef007;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #4304b0;
  --ifm-color-primary-light: #16b794;
  --ifm-color-primary-lighter: #06f4c0;
  --ifm-color-primary-lightest: #be12e0;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
